:root {
    --white: #ffffff;
    --primary: #FFC107;
    --secondary: #0097A7;
    --gray: #757575;
    --dark: #212121;
}


/* globales*/

html {
    box-sizing: border-box;
    /* Hack para box model */
    min-height: 100%;
    /* scroll-snap-type: y mandatory; */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p {
    line-height: 2;
}

body {
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    min-height: 100%;
}

#currentdate {
    color: rgb(18, 19, 18);
}

h1 {
    font-size: 1.4rem;
}

h1 span {
    font-size: 1.4rem;
}

h1,
h2,
h3 {
    text-align: center;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    color: var(--secondary);
    font-weight: 400;
    font-size: 1.6rem;
}

h1 {
    font-size: 2rem;
}
.header {
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: baseline;
    padding: 0.2rem;
    justify-content: flex-end;
}
.link {
    background: var(--secondary);
    border: solid;
    border-radius: 5px;
    color: var(--primary);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    font-family: "krub",sans-serif;
    width: 150px;
}
.link-img{
    cursor: pointer;
}
.link-img a{
    width: 100%;
    height: 100%;
}

.dropdown.active > .link,
.link:hover {
  color: black;
}

.dropdown {
    position: fixed;
    z-index: 4;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  background-color: white;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}
  
.dropdown-links {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: .25rem;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}

.shadow {
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.63);
}

.hero {
    height: 450px;
    background-image: url(../images/islaverdefliped.jpeg);
    background-size: cover;
    margin-bottom: 4rem;
    position: relative;
}

.content-hero {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.content-hero-img {
    border-radius: 50px;
    width: 18em;
}

.content-hero h2 {
    color: var(--white);
    align-self: center;
    margin-left: 2em;
}

@media only screen and (min-width: 35.5em) {
    .content-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-hero h2 {
        margin: 0.5em;
    }
    .link{
        width: 630px;
    }
    .header{
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .content-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-hero h2 {
        margin: 0.5em;
    }
    .link{
        width: 300px;
    }
    .header{
        justify-content:center;
    }
}

.entr{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.entr:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}

.copyrights {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 10px;
}

.lastupdated {
    display: flex;
    justify-content: center;
}

@media(max-width:768px) {
    .copyrights {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        padding: 10px;
    }
}
.slider-container a{
    text-decoration: underline;
}
.lessons-slider{
    width: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.left, .right{
    position: absolute;
    font-size: 4em;
    height: 50px;
    border: none;
    color:#0097A7;
    background-color:#FFC107;
    border-radius:100px;
    top: 125%;
}
.left{
    left: 0px;
}
.right{
    right: 0px;
}
.lessons-slider, .slider-container{
    white-space: nowrap;
} 
.lessons-slider, .slider-container, .slide{
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
    background-size: 100%;
    background-position: 20%;
    background-repeat: no-repeat;
}