    @media only screen and (min-width: 480px) and (max-width:1500px) {
        .copyrights {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding-left: 20px;
        }
        .logo-name img {
            width: 5em;
        }
        .contact-address {
            display: flex;
            align-items: stretch;
            margin: 10px;
            flex-direction: column;
        }
        .contact-address ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding-left: 20px;
        }
        .hero {
            background-image: url(../images/medium.jpg);
            background-size: auto;
        }
        .prestonname1 {
            display: none;
        }
        .navigation {
            display: flex;
            align-items: center;
            align-content: space-between;
            justify-content: space-between;
            margin: 0;
        }
        .navigation {
            list-style: none;
            padding: 0;
        }
        .navigation li:first-child {
            display: none;
        }
        .navigation a {
            display: flex;
            padding: 0.75rem;
            text-align: center;
        }
        .action {
            width: min-content;
        }
    }