@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
        margin: 0;
    }
    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .prestonname1 {
        display: none;
    }
}

@media (min-width:768px) {
    .services {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:768px) {
    .servicesTA {
        display: flex;
        flex-direction: column;
        margin: 3em;
    }
}

@media (min-width:768px) {
    .nav a {
        margin-bottom: 0;
    }
}