@media (min-width: 480px) and (max-width:75em) {
    .copyrights {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 20px;
    }
    .logo-name img {
        width: 5em;
    }
    .contact-address {
        display: flex;
        align-items: stretch;
        margin: 10px;
        flex-direction: column;
    }
    .contact-address ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 20px;
    }
    .hero{
        background-image: url(../images/medium.webp)
    }
    .the-section {
        grid-template-columns: 1fr 1fr;
        padding: 50px;
    }
    
    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: var(--dark);
    }
    
    .card:nth-child(odd) {
        flex-direction: row-reverse;
    }
    
    .par-card .motto-card h2 {
        display: block;
    }
    
    .card img {
        max-width: 250px;
    }
    .the-section {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 5em;
        padding: 50px;
    }
    .navigation {
        display: flex;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
        margin: 0;
        height: 3em;
    }
    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .content-hero{
        display:block
    }
    .hero{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .action, .action2, .action3{
        top: 0;
        display:block;
        border-radius: 0;
        left: 0;
        right: 0;
        padding: 0;
    }
    .weather{
        display: flex;
        align-items: center;
    }
    .weather ul{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .weather li{
        font-size:initial;
    }
    .action{
        grid-row: 1;
    }
    .action2{
        grid-row: 2;
    }
    .action3{
        grid-row:3
    }
}